h1 {
	color: #D85375;
	font-family: Arial;
	font-size:20px;
	padding-top: 200px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 500px;



}
/* Cursive font*/
h2 {
	color: black;
	font-family: 'Brush Script MT', cursive;
    font-size: 60px;
	margin-top: 14%;


p {
	color:black;
	font-family: Georgia, serif;
	font-size: 160%;
}


	

